.nav-link {
  margin-top: 5%;
  display: flex;
  justify-content: center;

  .link {
    padding-left: 10px;
    padding-right: 10px;
  }
}

.content {
  padding: 5%;
  justify-content: center;
  display: flex;
  flex-direction: row;

  .csp-switch-wrapper {
    min-width: 250px;
    display: flex;
    margin: 10px;
    padding: 10px;
    background-color: burlywood;

    .csp-switch {
      margin: 10px 5px 10px 10px;
    }
  }
  .page-wrapper {
    width: 100%;
    min-height: 500px;
    display: flex;
    margin: 10px;
    padding: 10px;
    background-color: darkgrey;

    .page-content {
      margin: auto;
    }
  }
}
